{% ckan_extends %}

{% block primary_content %}
  {% block home_primary %}
    <div class="hero-primary">
      <div class="row">
        <div class="span6 home-primary-text">
          {% if g.site_intro_text %}
            {{ h.render_markdown(g.site_intro_text) }}
          {% else %}
            {% block home_primary_content %}
              <h1 class="page-heading">{% block home_primary_heading %}{{ _("Give your data a home") }}{% endblock %}</h1>
              <p>
              {% block home_primary_text %}
                {% trans %}
                  Publish or register datasets, create and manage groups and communities.
                {% endtrans %}
              {% endblock %}
              </p>
              {% link_for _('Publish data for free'), controller='package', action='new', class_='btn btn-warning btn-large' %}
            {% endblock %}
          {% endif %}
        </div>
        <div class="span6 home-search">
          {% block home_search %}
            <form class="dataset-search clearfix" method="get" action="{% url_for controller='package', action='search' %}">
              <h3 class="heading">{{ _("Find data") }}</h3>
              <p>Search for data, and get updates from datasets and groups that you're interested in.</p>
              <span class="control-group search-giant">
                <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search') }}" />
                <button type="submit" value="{{ _('Search') }}">Submit</button>
              </span>
            </form>
          {% endblock %}
        </div>
      </div>
    </div>
  {% endblock %}

  <div class="hero-secondary">
    {% block home_secondary_content %}
       the free, powerful data management platform from the Open Knowledge Foundation
    {% endblock %}
  </div>
{% endblock %}

{% block secondary_content %}
  {% block home_tags %}
    <div class="tags box clearfix">
      <h3>{{ _('Popular Tags') }}</h3>
      {% set tags = h.get_facet_items_dict('tags', limit=8) %}
      <ul>
      {% for tag in tags %}
        <li><a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a></li>
      {% endfor %}
      </ul>
    </div>
  {% endblock %}
  <div class="row group-listing">
    {% for group in c.group_package_stuff %}
      <div class="span6">
        <div class="box">
          {% snippet 'snippets/group_item.html', group=group.group_dict, truncate=100 %}
          <div class="featured ribbon"><em>Featured</em></div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
