{% ckan_extends %}

{% block header_logo %}
  <a class="logo" href="{{ h.url('home') }}"><img src="/assets/images/logo.png" alt="{{ g.site_title }}" /></a>
  {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
{% endblock %}

{% block header_site_navigation %}
    <nav class="section navigation">
      <ul class="nav nav-pills">
        {% block header_site_navigation_tabs %}
        {{ h.build_nav_main(
          ('search', _('Datasets')),
          ('organizations_index', _('Organizations')),
          ('about', _('About'))
        ) }}
        <li><a href="http://blog.datahub.io/">Blog</a></li>
        <li><a href="http://help.datahub.io/">Help</a></li>

        {% endblock %}
      </ul>
    </nav>

{% endblock %}
{% block header_account %}
    <style type="text/css">
        #__header__ {
           /*background-color: #fe9131;*/
           background-color: #FFB8A8;
           width: 100%;
           border-bottom: 2px solid #000;
           font-family: helvetica, sans;
           /*color: white;*/

           color: black;
        }
        #__header__inner__{width: 800px; margin: 0 auto; padding: 10px; text-align: center;}
        #__header__inner__ a{ font-weight: bold; color: white; }
    </style>

<div id="__header__">
    <div id="__header__inner__">
        <!--DataHub has been upgraded to use Organizations. <a href="http://blog.datahub.io/2013/10/11/organization-migration-complete/">Find out more &raquo;</a>-->
        As part of the recent migration we need to reindex the datasets on the site. Searches will return no results while this is being done. Sorry for the incovenience.
    </div>
</div>
 {{ super() }}
{% endblock %}
